service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.xiaomi_sm6250
    class late_start
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks

on boot
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/fingerdown_wait
    chmod 0220 /sys/bus/platform/devices/soc/soc:fpc1020/fingerdown_wait

on post-fs-data
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fpc 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
    chown system system /data/vendor

